/* ------------------------------------------------------------------- 
* CSS Variables
* ------------------------------------------------------------------- */
:root {
	--ipro-purple: #5E5493;
	--ipro-orange: #F68833;
	--ipro-light-grey: #F7F8FA;
	--ipro-dark-grey: #1A2025;

	--blue: #1480AF;
	--soft-blue: #D3E0FE;
	--green: #3BA15E;
	--grey: #CECECE;
	--mauve: #CAB4CA;
	--seafoam: #A5DACE;
	--light-purple: #766CA2;
	--soft-purple: #EFEEF4;
	--dark-orange: #84410D;
	--white: #FFF;
	--error-red: #D2042D;
	--gradient-light-dark-purple: linear-gradient(to right, #3F2977 0%, #32205F 100%);
	--gradient-light-purple-transparent: linear-gradient(to bottom, rgba(94,84,147,0.1) 0%, rgba(94,84,147,0) 100%);
	--gradient-light-blue-transparent: linear-gradient(to bottom, rgba(20,128,175,0.1) 0%, rgba(20,128,175,0) 100%);

	--rubik: 'Rubik', Arial, sans-serif;
	--clip-size: 5vw;
	--box-shadow: 0px 8px 40px 0px rgba(94,84,147,0.08), 0px 4px 24px 0px rgba(94,84,147,0.08);
	--box-shadow-focus: 0px 12px 40px 0px rgba(94,84,147,0.16), 0px 8px 24px 0px rgba(94,84,147,0.16);
	--transition-timing: 0.3s ease-in-out;
}